body {
  margin: 0px 40px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

/*------ обертка всего, чтобы создать тень -----*/
.wrap {
  background-color: #ffffff;
  box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
  min-width: 768px;
  max-width: 1200px;
  margin: auto;
}
ul {
  margin: 0;
  padding: 0;
}
h3 {
  font-size: 21px;
  font-weight: 700;
}
a {
  text-decoration: none;
}
/*-------------- Верхнее меню + логотип --------*/
.main-navigation {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 0;
  margin: 0px;
  background-color: #ffffff;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.main-header-logo {
  position: absolute;
  z-index: 20;
  width: 138px;
  height: 70px;
  left: 50%;
  margin-left: -69px;
}
.navigation li {
  width: 20%;
  font-weight: bold;
  text-align: center;
}

.navigation li:nth-child(2) {
  margin-right: 20%;
}

.navigation,
.option-list,
.feature-items
.sort-options,
.options {
 list-style: none;
}
.navigation a {
  display: block;
  padding: 15px; 0;
  font-size: 14px;
  line-height: 1.8em;
  color: #000000;
}

.sort-options a:hover,
.navigation a:hover:not(.active-href),
.sort-options a:focus{
  color: #81b3d2;
}
.navigation a:focus {
  color: #81b3d2;
}
.navigation a:active {
  color: #000000;
  opacity: 30%;
}

.navigation .active-href {
  color: #766357;
}

.mountains-index {
  width: 100%;
  height: 509px;
  background-image: url("../img/shape.png"), url("../img/background-image.jpg");
  background-color: #e1edf6;
  background-repeat: no-repeat, no-repeat;
  background-size: 100%, 100%;
  background-position: bottom, 0 -55px;
}
.img-inscription {
  display: block;
  padding-top: 77px;
  margin-left: auto;
  margin-right: auto;

}
.search {
  width: 568px;
  background-color: #766357;
  font-size: 21px;
  text-transform: uppercase;
  padding: 31px;
  font-weight: bold;
  color: #ffffff;
  border: none;
}
.search:hover,
.search:focus {
  background-color: #604e43;
}
.search:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
  /*color: #5e4e44;*/

}
.features {
  margin-top: 60px;
  margin-bottom: 53px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  text-align: center;
}
.features h2 {
    line-height: 1.24em;
    margin-bottom: 30px;

}
.feature-item {
  display: flex;
  max-height: 256px;
  justify-content: space-between;

  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
  overflow: hidden;
}
.div-item {
  width: 33.3%;

}
.div-item h3 {
  margin-top: 48px;
  margin-bottom: 24px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;

}
.div-item p {

  margin-top: 21px;
  width: 318px;
  margin-left: auto;
  margin-right: auto;

}
.img-item {
  width: 66.6%;
  height: 88.5%;
  transform: translateY(-19.5%);
}

.features-group ul {
  list-style: none;
  text-align: center;
  background-color: #eeeeee;
  display: flex;
  justify-content: space-around;
}
.features-group ul {
  text-align: center;
}
.features-group h3 {
  margin: 0px;
  padding-top: 47px;
  padding-bottom: 24px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}
.features-group p {
  width: 264px;
  margin: 0px;
  padding-top: 21px;
  padding-bottom: 60px;
}
.interest {
  text-align: center;
  position: relative;
  margin-top: 56px;
}
.interest h1 {
  margin-top: 0;
  margin-bottom: 34px;
}
.interest p {
  display: block;
  width: 438px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 49px;
  font-size: 14px;
  line-height: 22px;
}
.options {
    min-height: 330px;
}
.option-list {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: space-around;

}
.option-list li{
  width: 33%;
  background-repeat: no-repeat;
  background-position: center;
  flex-basis: 285px;
    padding-top: 160px;
}
.option-list h3{
  margin-top: 0;
  margin-bottom: 25px;
}
.option-list .house {
  background-image: url("../img/feature-1.svg");
  background-position: 50% 60px;
}
.option-list .food {
  background-image: url("../img/feature-3.svg");
  background-position: 50% 60px;
}
.option-list .gifts {
  background-image: url("../img/feature-2.svg");
  background-position: 50% 60px;
}

/*---------Форма на главной странице------*/
.index-form {
  display: flex;
  flex-direction:column;
}
.form {
  position: absolute;
  left: 50%;
  transform: translateX(-284px);
  background-color: #ffffff;
  padding: 55px 55px;
  text-align: left;
  width: 458px;
  z-index: 10;
  box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 0.35);
}
.form input {
  margin: 0;
  padding: 0;
}
.interest .input-row {
  display: flex;
  font-size: 14px;
  line-height: 1.8em;
  margin-bottom: 29px;
  justify-content: space-between;
  align-items: center;
}


.input-row label {
  font-weight: bold;
}
.input-row input[type="text"] {

  right: 58px;
  width: 346px;
  height: 38px;
  background-color: #f2f2f2;
  border: none;
}
.input-row input[type="text"]:hover {
  background-color: #ebebeb;
}
.input-row input[type="text"]:focus {
  background-color: white;

  border: 2px solid #ebebeb;

}


input[placeholder] {
  font-size: 14px;
  line-height: 1.85em;
  font-weight: bold;
  padding-left: 10px;
}
.calendar{
  position: absolute;
  width: 21px;
  height: 22px;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  right: 71px;
  border: none;
}

.calendar svg {
  fill: #a9a9a9;
}
.calendar:hover svg path {
  fill: #000000;
  background-color: #ebebeb;
}
.calendar:active svg path {
  fill: #81b3d2;
}
.adults, .child {
  flex-grow: 1;
}
.child {
  margin-right: 26px;
  text-align: right;
  margin-left: 13px;
}
.button-find {
  border: none;
  background-color: #81b3d2;
  color: #ffffff;
  padding: 16px 0;
  margin-top: 27px;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 1.2em;
  font-weight: bold;
}
.button-find:hover,
.button-find:focus  {
    background-color: #669ec0;
}
.button-find:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, .3);
}
.minus, .plus {
  font-size: 0;
  border: none;
  border-radius: 0;
  padding: 19px;
  background-color: #f2f2f2;
  position: relative;
}
.minus::before,
.minus::after,
.plus::before,
.plus::after {
  content: '';
  position: absolute;
  top: 18px;
  left: 13px;
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
}
.plus::after {
  transform: rotate(90deg);
}
.minus:hover::before,
.plus:hover::before,
.minus:hover::after,
.plus:hover::after,
.minus:hover:focus,
.plus:hover:focus {
  background-color: #000000;
}
.minus:active::before,
.plus:active::before,
.minus:active::after,
.plus:active::after {
  background-color: #81b3d2;
}
input[type="number"] {
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border: none;
  text-align: center;
}
iframe {
  display: block;
}
.map {
  width: 100%;
  height: 593px;
  overflow: hidden;
  /*background-image: url("../img/map.jpg");
  background-position: center center;
  transform: translateY(-20%);*/
  /*background-size: cover;*/
}
/*.map img{
  transform: translateY(-20%);
}*/
/*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d609919.8305865142!2d-112.20193968931919!3d34.870203512093305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872da132f942b00d%3A0x5548c523fa6c8efd!2z0KHQtdC00L7QvdCwLCDQkNGA0LjQt9C-0L3QsCA4NjMzNiwg0KHQqNCQ!5e0!3m2!1sru!2sru!4v1511989528685" width="100%" height="593px" frameborder="0" style="border:0" allowfullscreen></iframe> */
.accomodation-options {
  width: 100%;
  height: 218px;
  background-image:url("../img/background.jpg");
  background-color: #355266;
  background-repeat: no-repeat;
  background-size: 100%;
  color: #ffffff;
  background-position: 0px -300px;
}
.catalog-form {
  display: flex;
}
fieldset {
/*  border: none;*/
}
.result {
}
.infrastructure {
  width: 20%;
}

input[type="checkbox"] {
    display: none;
}

.accommodation input[type="checkbox"] + label::before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image:url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0px 0px;
}
/*---------- Ползунки на странице отелей ---------*/
.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
}
.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}
.range-controls {
  position: relative;
  margin-bottom: 32px;
}
.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}
.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}
.price {
  width: 330px;
  color: #ffffff;
  text-transform: uppercase;
}
.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}
.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}
.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}
.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.range-toggle-min {
  left: 0;
}
.range-toggle-max {
  left: 80%;
}
.range-toggle:hover {
  background: #1c4f80;
}
.button-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}
.button-transparent:hover {
  color: #000000;

  background: #ffffff;
}
/*------------------*/
.sort {
  display: flex;
  padding: 31px 73px;

}
.sort h2 {
  margin: 0;
  font-size: 21px;
  line-height: 1.2em;
  min-width: 163px;
}
.sort-options {
  padding-left: 40px;
  list-style: none;
  color: #000000;
  opacity: 0.3;
  text-decoration: underline dot #000000;
}
.sort-options li {
  display: inline-block;
  padding-right: 34px;
}
.sort-options:hover {
  color: #81b3d2;
  opacity: 0.3;
  text-decoration: underline dot #81b3d2;
}
.sort-options:active {
  color: #000000;
}

.up-down {
  text-align: right;
  flex-grow: 1;
  font-size: 0px;
}
.down {

	width: 0;
	height: 0;
	border-left: 5.5px solid transparent;
	border-right: 5.5px solid transparent;
	border-top: 10px solid #81b3d2;
  border-bottom: 0px;
}
.up {

	width: 0;
	height: 0;
	border-left: 5.5px solid transparent;
	border-right: 5.5px solid transparent;
	border-bottom: 10px solid #cacaca;
  border-top: 0px;
}
.stars {
  text-align: right;
  flex-grow: 1;
}
.catalog-item {
  display: flex;
  border-top: 1px solid #f2f2f2;
}
.catalog-item img {
  padding: 31px 0;
  padding-left: 72px;
  padding-right: 31px;
}

.test {
    position: relative;
    display: inline-block;
    max-width: 100px;
    word-wrap: break-word;
    cursor: pointer;
}
.test::before,
.test::after {
    content: "";
    position: absolute;
    display: block;
}
.test::before {
    top: 7px;
    left: 8px;
    width: 32px;
    height: 1px;
    border-top: 1px solid #5a5a5a;
}

.test::after {
    top: 0;
    left: 8px;
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    border: 2px solid #5a5a5a;
    border-radius: 50%;
}
.name-item {
  margin-top: 29.5px;
  margin-bottom: 12px;
}
.accommodation-type {
  display: inline-block;
  min-width: 115px;

  margin-bottom: 16.5px;
}
.button {
  padding: 4px 17px;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.5em;
  font-weight: bold;
}
.more {
  background-color: #81b3d2;
}
.more:hover {
  background-color: #669ec0;
}
.more:active {
  background-color: #5496bd;
  opacity: 0.3;
}
.book {
  background-color: #766357;
}
.book:hover {
  background-color: #604e43;
}
.book:active {
  background-color: #503e33;
  opacity: 0.3;
}

.stars {
  margin-right: 74px;
}
.three-stars::before {
  content: "\2605 \2605 \2605";
  font-size: 17px;
  color: #81b3d2;
}
.four-stars::before {
  content: "\2605 \2605 \2605 \2605";
  font-size: 17px;
  color: #81b3d2;
}
.one-star::before {
  content: "\2605";
  font-size: 17px;
  color: #81b3d2;
}

/*--------------- Классы и анимации для JS --------------*/
.invisible {
  animation-name: appearance;
  animation-duration: .5s;
  animation-direction:reverse;
  animation-fill-mode: both;
}
.visible {
  animation-name: appearance1;
  animation-duration: .5s;

  animation-fill-mode: both;
}
@keyframes error {
  0%, 100% { transform: translateX(0); }
 10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
 20%, 40%, 60%, 80% { transform: translateX(10px); }
}
@keyframes appearance {
  0% { opacity: 0; }
 10% { opacity: 0.1; }
 20% { opacity: 0.2; }
 30% { opacity: 0.3; }
 40% { opacity: 0.4; }
 50% { opacity: 0.5; }
 60% { opacity: 0.6; }
 70% { opacity: 0.7; }
 80% { opacity: 0.8; }
 90% { opacity: 0.9; }
 100% { opacity: 1; }
}
@keyframes appearance1 {
  0% { opacity: 0; }
 10% { opacity: 0.1; }
 20% { opacity: 0.2; }
 30% { opacity: 0.3; }
 40% { opacity: 0.4; }
 50% { opacity: 0.5; }
 60% { opacity: 0.6; }
 70% { opacity: 0.7; }
 80% { opacity: 0.8; }
 90% { opacity: 0.9; }
 100% { opacity: 1; }
/*  0% { transform: translateX(-10px);}
 10% { transform: translateX(10px); }
 100% { transform: translateX(10px); }*/
}
.form-error {
  animation-name: error;
  animation-duration: 0.2s;
}
/*---------------------------------------------------------------*/
.main-index-footer {
  margin-top: -120px;
  z-index: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
}
/*------------- Футер для всех страниц ----------- */
.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-footer a{
  margin: 0px;
  padding: 0px;
  width: 46px;
  height: 48px;
  margin-left: 3px;
  margin-right: 3px;
}
.main-footer div {
    width: 33.3%;
    text-align: center;
    padding: 36px 0;
}
.social-nets a:hover,
.social-nets a:focus {
  background-color: #669ec0;
}
.social-nets a:active {
  background-color: #5496bd;
}

.social-nets a:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.tag {
  font-size: 21px;
  line-height: 1.2em;
  font-weight: 700;
}

.twitter, .fb, .youtube {
  font-size: 0px;

  background-repeat: no-repeat;
  background-color: #81b3d2;

}
.social-nets svg {
  margin-top: 16px;
}
.fb svg {
  margin-top: 13px;
}
.website {
  font-size: 0px;
}

.social-nets {
  display: flex;
  justify-content: center;
}
.website-by a{
  display: inline-block;
  width: 115px;
  height: 39px;
  margin-left: 8px;
  font-size: 14px;
  vertical-align: middle;
  text-align: center;
/*  background-image: url("../img/logo-htmlacademy.svg");*/
  background-repeat: no-repeat;
  background-position: 0px 0;
  font-size: 0px;
}

.website-by a:hover path,
.website-by a:focus path{
  fill: #81b3d2;
}
.website-by a:active path{
  fill: #bdbbbc;
}
