body {
  margin: 0px 40px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}
/*------ обертка всего, чтобы создать тень -----*/
.wrap {
  background-color: #ffffff;
  box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
  min-width: 768px;
  max-width: 1200px;
  margin: auto;
}
ul {
  margin: 0;
  padding: 0;
}
/*-------------- Верхнее меню + логотип --------*/
.main-navigation {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 0;
  margin: 0px;
  background-color: #ffffff;
}
.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.main-header-logo {
  position: absolute;
  z-index: 20;
  width: 138px;
  height: 70px;
  left: 50%;
  margin-left: -69px;
}
.navigation li {
  width: 20%;
  font-weight: bold;
  text-align: center;
}
.navigation li:nth-child(2) {
  margin-right: 20%;
}
.navigation,
.option-list,
.feature-items
.sort-options,
.options {
 list-style: none;
}
.navigation a {
  text-decoration: none;
  display: block;
  padding: 15px 0;
  font-size: 14px;
  line-height: 1.8em;
  color: #000000;
}
.sort-options a:hover,
.navigation a:focus,
.navigation a:hover {
  color: #81b3d2;
}
.navigation a:active {
  color: #cacaca;
}
.navigation .active-href,
.navigation .active-href:hover,
.navigation .active-href:active {
  color: #766357;
}
.mountains-index {
  width: 100%;
  height: 509px;
  background-image: url("../img/shape.png"), url("../img/background-image.jpg");
  background-color: #e1edf6;
  background-repeat: no-repeat, no-repeat;
  background-size: 100%, 100%;
  background-position: bottom, 0 -55px;
}
.img-inscription {
  display: block;
  padding-top: 77px;
  margin-left: auto;
  margin-right: auto;
}
.search {
  width: 568px;
  background-color: #766357;
  font-size: 21px;
  text-transform: uppercase;
  padding: 31px;
  font-weight: bold;
  color: #ffffff;
  border: none;
  border-radius: 0px;
}
.search:hover,
.search:focus {
  background-color: #604e43;
}
.search:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
  /*color: #5e4e44;*/
}
.features {
  margin-top: 60px;
  margin-bottom: 53px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  text-align: center;
}
.features h2 {
  line-height: 1.24em;
  margin-bottom: 30px;
}
.feature-item {
  display: flex;
  max-height: 256px;
  justify-content: space-between;
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
  overflow: hidden;
}
.div-item {
  width: 33.3%;
}
.div-item h3 {
  font-size: 21px;
  font-weight: 700;
  margin-top: 48px;
  margin-bottom: 24px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}
.div-item p {
  margin-top: 21px;
  width: 318px;
  margin-left: auto;
  margin-right: auto;
}
.img-item {
  width: 66.6%;
  height: 88.5%;
  transform: translateY(-19.5%);
}
button {
  font-family: "PT Sans", Arial, sans-serif;
}
.features-group ul {
  list-style: none;
  text-align: center;
  background-color: #eeeeee;
  display: flex;
  justify-content: space-around;
}
.features-group ul {
  text-align: center;
}
.features-group h3 {
  font-size: 21px;
  font-weight: 700;
  margin: 0px;
  padding-top: 47px;
  padding-bottom: 24px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}
.features-group p {
  width: 264px;
  margin: 0px;
  padding-top: 21px;
  padding-bottom: 60px;
}
.interest {
  text-align: center;
  position: relative;
  margin-top: 60px;
}
.interest h1 {
  margin-top: 0;
  margin-bottom: 34px;
  letter-spacing: 1.3px;
}
.interest p {
  display: block;
  width: 438px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 49px;
  font-size: 14px;
  line-height: 22px;
}
.options {
    min-height: 330px;
}
.option-list {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.option-list li{
  width: 33%;
  background-repeat: no-repeat;
  background-position: center;
  flex-basis: 285px;
    padding-top: 160px;
}
.option-list h3{
  font-size: 21px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 25px;
}
.option-list .house {
  background-image: url("../img/feature-1.svg");
  background-position: 50% 60px;
}
.option-list .food {
  background-image: url("../img/feature-3.svg");
  background-position: 50% 60px;
}
.option-list .gifts {
  background-image: url("../img/feature-2.svg");
  background-position: 50% 60px;
}
/*---------Форма на главной странице------*/
.index-form {
  display: flex;
  flex-direction:column;
}
.form {
  position: absolute;
  left: 50%;
  transform: translateX(-284px);
  background-color: #ffffff;
  padding: 55px 55px;
  text-align: left;
  width: 458px;
  z-index: 10;
  box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 0.35);
}
.form input {
  padding: 0;
  font-family:   font-family: "PT Sans", Arial, sans-serif;
}
.interest .input-row {
  display: flex;
  font-size: 14px;
  line-height: 1.8em;
  margin-bottom: 29px;
  justify-content: space-between;
  align-items: center;
}
.input-row label {
  font-weight: bold;
  letter-spacing: 0.3px;
}
.input-row input[type="text"] {
  right: 58px;
  width: 333px;
  height: 34px;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  padding-left: 11px;
}
.input-row input[type="text"]:hover {
  background-color: #ebebeb;
}
.input-row input[type="text"]:focus {
  background-color: white;
  border: 2px solid #ebebeb;
}
input::placeholder {
  font-size: 14px;
  line-height: 1.85em;
  font-weight: bold;
}
.calendar {
  position: absolute;
  width: 21px;
  height: 22px;
  background-color: transparent;;
  background-repeat: no-repeat;
  right: 71px;
  border: none;
}
.calendar svg {
  fill: #a9a9a9;
}
.calendar:hover svg path {
  fill: #000000;
  background-color: #ebebeb;
}
.calendar:active svg path {
  fill: #81b3d2;
}
.adults, .child {
  flex-grow: 1;
}
.child {
  margin-right: 26px;
  text-align: right;
  margin-left: 13px;
}
.button-find {
  border: none;
  background-color: #81b3d2;
  color: #ffffff;
  padding: 16px 0;
  margin-top: 27px;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 1.2em;
  font-weight: bold;
  border-radius: 0px;
}
.button-find:hover,
.button-find:focus  {
    background-color: #669ec0;
}
.button-find:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, .3);
}
.minus, .plus {
  font-size: 0;
  border: none;
  border-radius: 0;
  padding: 19px;
  background-color: #f2f2f2;
  position: relative;
}
.minus::before,
.minus::after,
.plus::before,
.plus::after {
  content: '';
  position: absolute;
  top: 18px;
  left: 13px;
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
}
.plus::after {
  transform: rotate(90deg);
}
.minus:hover::before,
.plus:hover::before,
.minus:hover::after,
.plus:hover::after,
.minus:hover:focus,
.plus:hover:focus {
  background-color: #000000;
}
.minus:active::before,
.plus:active::before,
.minus:active::after,
.plus:active::after {
  background-color: #81b3d2;
}
input[type="number"] {
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border: none;
  text-align: center;
}
iframe {
  display: block;
  border: 0;
}
.map {
  width: 100%;
  height: 593px;
  overflow: hidden;
  /*background-image: url("../img/map.jpg");
  background-position: center center;
  transform: translateY(-20%);*/
  /*background-size: cover;*/
}
/*.map img{
  transform: translateY(-20%);
}*/
.accomodation-options fieldset {
  border: none;
}
.accomodation-options {
  width: 100%;
  height: 218px;
  background-image:url("../img/background.jpg");
  background-color: #355266;
  background-repeat: no-repeat;
  background-size: 100%;
  color: #ffffff;
  background-position: 0px -300px;
}
.accomodation-options h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: : 21px;
}
.catalog-form {
  display: flex;
}
fieldset {
/*  border: none;*/
}
.infrastructure {
  position: relative;
  margin-left: 19px;
  width: 20%;
  margin-right: 27px;
}
.infrastructure h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: : 21px;
  margin-top: 22px;
  margin-left: 43px;
  letter-spacing: 0.2px;
}
.accommodation h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  margin-top: 23px;
  margin-left: 17px;
}
.infrastructure div {
  margin-left: 64px;
  margin-top: 11%;
  margin-bottom: 11%;
}
.accommodation div {
  margin-top: 5.5%;
  padding-left: 44px;
}
.accommodation {
  width: 40%;
  position: relative;
}
.infrastructure input[type="checkbox"],
.accommodation input[type="checkbox"] {
    opacity: 0;
}
.infrastructure label::before,
.accommodation label::before {
  content: "";
  display: inline-block;
  position: absolute;
}
.infrastructure label::before {
  left: 55px;
}
.accommodation label::before {
  left: 29px;
}
.infrastructure input[type="checkbox"] + label::before,
.accommodation input[type="checkbox"] + label::before {
  content: url("../img/checkbox-off.svg");
  height: 19px;
  width: 19px;
}
.infrastructure  input[type="checkbox"]:checked + label::before,
.accommodation  input[type="checkbox"]:checked + label::before {
    content: "";
    width: 27px;
    height: 23px;
    display: inline-block;
    background-image:url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px 0px;
}
.infrastructure input[type="checkbox"]:focus + label::before,
.accommodation  input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
}
.infrastructure  input[type="checkbox"]:disabled + label::before,
.accommodation  input[type="checkbox"]:disabled + label::before,
.infrastructure  input[type="checkbox"]:checked:disabled + label::before,
.accommodation  input[type="checkbox"]:checked:disabled + label::before {
  opacity: 0.3;
}
/*---------- Ползунки на странице отелей ---------*/
.price-controls {
  position: relative;
  height: 31px;
  margin-bottom: 21px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  width: 314px;
}
.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}
.range-controls {
  position: relative;
  margin-bottom: 32px;
}
.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}
.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  vertical-align: top;
  cursor: pointer;
}
.price {
  width: 330px;
  color: #ffffff;
  text-transform: uppercase;
  margin-left: 19px;
      margin-right: 72px;
}
.price h3 {
  font-weight: 700;
  margin-top: 23px;
  margin-bottom: 10px;
  letter-spacing: 0.1px;
}
.price-controls .min-price {
  width: 90px;
  padding-left: 65px;
}
.price-controls .max-price {
  width: 90px;
  padding-left: 53px;
}
.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}
.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}
.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.range-toggle-min {
  left: 0;
}
.range-toggle-max {
  left: 80%;
}
.range-toggle:hover,
.range-toggle:focus {
  border: 10px solid #ffffff;
}
.button-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 31px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
  margin-top: -10px
}
.button-transparent:hover {
  color: #000000;
  background: #ffffff;
}
/*------------------*/
.sort {
  display: flex;
  align-items: baseline;
  padding: 30px 71px 26px 73px;
}
.sort h2 {
  margin: 0;
  font-size: 21px;
  line-height: 1.2em;
  min-width: 163px;
}
.sort-title {
  margin-top: 5px;
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
}
.sort-options {
  padding-left: 40px;
  list-style: none;
  color: #000000;
  text-decoration: underline dot #000000;
}
.sort-options li {
  display: inline-block;
  padding-right: 30px;
  font-size: 12px;
}
.sort-options a:hover:not(.active),
.sort-options a:focus:not(.active)   {
  color: #81b3d2;
  text-decoration: underline dot #81b3d2;
}
.sort-options a:active:not(.active) {
  color: #000000;
  text-decoration: none;
}
.sort-options a {
  text-decoration: none;
  color: #cacaca;
  text-decoration: underline dotted #81b3d2;
}
.sort-options .active {
  color: #81b3d2;
  text-decoration: none;
}
.up-down {
  text-align: right;
  flex-grow: 1;
  font-size: 0px;
}
.down {
  display: inline;
	width: 0;
	height: 0;
	border-left: 5.5px solid transparent;
	border-right: 5.5px solid transparent;
	border-top: 10px solid #81b3d2;
  border-bottom: 0px;
}
.up {
  display: inline-block;
	width: 0;
	height: 0;
	border-left: 5.5px solid transparent;
	border-right: 5.5px solid transparent;
	border-bottom: 10px solid #cacaca;
  border-top: 0px;
  margin-right: 12px;
}
.up:hover,
.up:focus {
	border-bottom: 10px solid #000000;
}
.up:active {
  border-bottom: 10px solid #81b3d2;
}
.stars {
  text-align: right;
}
.variant {
    flex-grow: 1;
}
.catalog-item {
  display: flex;
  border-top: 1px solid #f2f2f2;
}
.catalog-item img {
  padding: 30px 0;
  padding-left: 72px;
  padding-right: 31px;
}
.name-item {
  margin-top: 26px;
  margin-bottom: 10px;
}
.accommodation-type {
  display: inline-block;
  min-width: 111px;
  margin-bottom: 16.5px;
}
.name-item a {
  text-decoration: none;
  color: #000000;
}
.name-item a:hover,
.name-item a:focus {
  color: #81b3d2;
}
.name-item a:active {
  color: #b2b2b2;
}
.button {
  padding: 4px 17px;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.5em;
  font-weight: bold;
}
.more {
  text-decoration: none;
  background-color: #81b3d2;
}
.more:hover,
.more:focus {
  background-color: #669ec0;
}
.more:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.book {
  text-decoration: none;
  background-color: #766357;
}
.book:hover,
.book:focus {
  background-color: #604e43;
}
.book:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}
.stars {
  margin-right: 74px;
  margin-top: 25px;
  display: inline-block;
}
.three-stars::before {
  content: "\2605 \2605 \2605";
  font-size: 26px;
  color: #81b3d2;
}
.four-stars::before {
  content: "\2605 \2605 \2605 \2605";
  font-size: 26px;
  color: #81b3d2;
}
.two-stars::before {
  content: "\2605 \2605";
  font-size: 26px;
  color: #81b3d2;
}
.rate {
  display: inline-block;
  margin-top: 42px;
  background-color: #f2f2f2;
  padding: 2px 11px 2px 16px;
  line-height: 21px;
  font-size: 14px;
}
/*--------------- Классы и анимации для JS --------------*/
.invisible {
  animation-name: appearance;
  animation-duration: .5s;
  animation-direction:reverse;
  animation-fill-mode: both;
}
.visible {
  animation-name: appearance1;
  animation-duration: .5s;
  animation-fill-mode: both;
}
@keyframes error {
  0%, 100% { transform: translateX(0); }
 10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
 20%, 40%, 60%, 80% { transform: translateX(10px); }
}
@keyframes appearance {
  0% { opacity: 0; }
 10% { opacity: 0.1; }
 20% { opacity: 0.2; }
 30% { opacity: 0.3; }
 40% { opacity: 0.4; }
 50% { opacity: 0.5; }
 60% { opacity: 0.6; }
 70% { opacity: 0.7; }
 80% { opacity: 0.8; }
 90% { opacity: 0.9; }
 100% { opacity: 1; }
}
@keyframes appearance1 {
  0% { opacity: 0; }
 10% { opacity: 0.1; }
 20% { opacity: 0.2; }
 30% { opacity: 0.3; }
 40% { opacity: 0.4; }
 50% { opacity: 0.5; }
 60% { opacity: 0.6; }
 70% { opacity: 0.7; }
 80% { opacity: 0.8; }
 90% { opacity: 0.9; }
 100% { opacity: 1; }
/*  0% { transform: translateX(-10px);}
 10% { transform: translateX(10px); }
 100% { transform: translateX(10px); }*/
}
.form-error {
  animation-name: error;
  animation-duration: 0.2s;
}
/*---------------------------------------------------------------*/
.main-index-footer {
  margin-top: -120px;
  z-index: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
}

.main-catalog-footer {
  border-top: 1px solid #f2f2f2;
}
/*------------- Футер для всех страниц ----------- */
.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-footer a {
  margin: 0px;
  padding: 0px;
  width: 46px;
  height: 48px;
  margin-left: 3px;
  margin-right: 3px;
}
.main-footer div {
    width: 33.3%;
    text-align: center;
    padding: 36px 0;
}
.social-nets a:hover,
.social-nets a:focus {
  background-color: #669ec0;
}
.social-nets a:active {
  background-color: #5496bd;
}
.social-nets a:active path {
  fill: rgba(255, 255, 255, 0.3);
}
.tag {
  font-size: 21px;
  line-height: 1.2em;
  font-weight: 700;
}
.twitter, .fb, .youtube {
  font-size: 0px;
  background-repeat: no-repeat;
  background-color: #81b3d2;
}
.social-nets svg {
  margin-top: 16px;
}
.fb svg {
  margin-top: 13px;
}
.website {
  font-size: 0px;
}
.social-nets {
  display: flex;
  justify-content: center;
}
.website-by a{
  display: inline-block;
  width: 115px;
  height: 39px;
  margin-left: 8px;
  font-size: 14px;
  vertical-align: middle;
  text-align: center;
/*  background-image: url("../img/logo-htmlacademy.svg");*/
  background-repeat: no-repeat;
  background-position: 0px 0;
  font-size: 0px;
}
.website-by a:hover path,
.website-by a:focus path{
  fill: #81b3d2;
}
.website-by a:active path{
  fill: #bdbbbc;
}
